<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>system.main.controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>system.main.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListSemesterController</servlet-name>
        <servlet-class>system.main.controller.GetListSemesterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getListSubjectController</servlet-name>
        <servlet-class>lecturer.controller.manage.subject.getListSubjectController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecturerController</servlet-name>
        <servlet-class>system.main.controller.LecturerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListStudentInClass</servlet-name>
        <servlet-class>lecturer.controller.manageclass.GetListStudentInClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListSubjectDetail</servlet-name>
        <servlet-class>lecturer.controller.manage.subject.GetListSubjectDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListTopic</servlet-name>
        <servlet-class>lecturer.controller.managetopic.ListTopic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListGroup</servlet-name>
        <servlet-class>lecturer.controller.managegroup.ListGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListGroupDetail</servlet-name>
        <servlet-class>lecturer.controller.managegroup.GetListGroupDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProjectTopic</servlet-name>
        <servlet-class>lecturer.controller.managegroup.UpdateProjectTopic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateGroupMember</servlet-name>
        <servlet-class>lecturer.controller.managegroup.UpdateGroupMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGroupMember</servlet-name>
        <servlet-class>lecturer.controller.managegroup.DeleteGroupMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGroup</servlet-name>
        <servlet-class>lecturer.controller.managegroup.DeleteGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SourceTopic</servlet-name>
        <servlet-class>lecturer.controller.managetopic.SourceTopic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTopic</servlet-name>
        <servlet-class>lecturer.controller.managetopic.UpdateTopic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTopic</servlet-name>
        <servlet-class>lecturer.controller.managetopic.CreateTopic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>lecturer.controller.manage.profile.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>lecturer.controller.manage.profile.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecturerPresentation</servlet-name>
        <servlet-class>lecturer.controller.manage.presentation.LecturerPresentation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessingApplication</servlet-name>
        <servlet-class>lecturer.controller.manage.application.ProcessingApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailApplication</servlet-name>
        <servlet-class>lecturer.controller.manage.application.DetailApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveApplication</servlet-name>
        <servlet-class>lecturer.controller.manage.application.ApproveApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessedApplication</servlet-name>
        <servlet-class>lecturer.controller.manage.application.ProcessedApplication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateGroup</servlet-name>
        <servlet-class>lecturer.controller.managegroup.CreateGroup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewStudentProfile</servlet-name>
        <servlet-class>user.controller.manage.profile.viewStudentProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddGroupController</servlet-name>
        <servlet-class>lecturer.controller.managegroup.AddGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailTopic</servlet-name>
        <servlet-class>lecturer.controller.managetopic.DetailTopic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListSemesterController</servlet-name>
        <url-pattern>/GetListSemesterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getListSubjectController</servlet-name>
        <url-pattern>/getListSubjectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerController</servlet-name>
        <url-pattern>/LecturerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListStudentInClass</servlet-name>
        <url-pattern>/GetListStudentInClass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListSubjectDetail</servlet-name>
        <url-pattern>/GetListSubjectDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListTopic</servlet-name>
        <url-pattern>/ListTopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListGroup</servlet-name>
        <url-pattern>/ListGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListGroupDetail</servlet-name>
        <url-pattern>/GetListGroupDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProjectTopic</servlet-name>
        <url-pattern>/UpdateProjectTopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateGroupMember</servlet-name>
        <url-pattern>/UpdateGroupMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGroupMember</servlet-name>
        <url-pattern>/DeleteGroupMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGroup</servlet-name>
        <url-pattern>/DeleteGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SourceTopic</servlet-name>
        <url-pattern>/SourceTopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTopic</servlet-name>
        <url-pattern>/UpdateTopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTopic</servlet-name>
        <url-pattern>/CreateTopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/Profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerPresentation</servlet-name>
        <url-pattern>/LecturerPresentation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessingApplication</servlet-name>
        <url-pattern>/ProcessingApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailApplication</servlet-name>
        <url-pattern>/DetailApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveApplication</servlet-name>
        <url-pattern>/ApproveApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessedApplication</servlet-name>
        <url-pattern>/ProcessedApplication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateGroup</servlet-name>
        <url-pattern>/CreateGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewStudentProfile</servlet-name>
        <url-pattern>/viewStudentProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddGroupController</servlet-name>
        <url-pattern>/AddGroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailTopic</servlet-name>
        <url-pattern>/DetailTopic</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
