<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>system.maincontroller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>system.maincontroller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStudentInformation</servlet-name>
        <servlet-class>admin.controller.managestudent.SearchStudentInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchLectureInformation</servlet-name>
        <servlet-class>admin.controller.managelecture.SearchLectureInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotController</servlet-name>
        <servlet-class>system.maincontroller.ForgotController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>system.maincontroller.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>system.maincontroller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountController</servlet-name>
        <servlet-class>adminController.CreateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountController</servlet-name>
        <servlet-class>admin.controller.manageaccount.DeleteAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountController</servlet-name>
        <servlet-class>admin.controller.manageaccount.UpdateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAccountController</servlet-name>
        <servlet-class>admin.controller.manageaccount.SearchAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAccountController</servlet-name>
        <servlet-class>admin.controller.manageaccount.ListAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStudentInformation</servlet-name>
        <servlet-class>admin.controller.managestudent.ListStudentInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListLectureInformation</servlet-name>
        <servlet-class>admin.controller.managelecture.ListLectureInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListTopic</servlet-name>
        <servlet-class>user.controller.topic.ListTopic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendApplicationController</servlet-name>
        <servlet-class>user.controller.form.SendApplicationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListForm</servlet-name>
        <servlet-class>user.controller.form.ListForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileStudentController</servlet-name>
        <servlet-class>user.controller.profile.ProfileStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileController</servlet-name>
        <servlet-class>user.controller.profile.UpdateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateInformationProfile</servlet-name>
        <servlet-class>admin.controller.manageaccount.UpdateInformationProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassController</servlet-name>
        <servlet-class>admin.controller.manageclass.ClassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailClassController</servlet-name>
        <servlet-class>admin.controller.manageclass.DetailClassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchClassController</servlet-name>
        <servlet-class>admin.controller.manageclass.SearchClassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListFormController</servlet-name>
        <servlet-class>admin.controller.manageform.ListFormController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchFormController</servlet-name>
        <servlet-class>admin.controller.manageform.SearchFormController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFormPresentController</servlet-name>
        <servlet-class>admin.controller.manageform.UpdateFormPresentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPresentationCapstone</servlet-name>
        <servlet-class>user.controller.form.ListPresentationCapstone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListTopicAssign</servlet-name>
        <servlet-class>admin.controller.managetopic.ListTopicAssign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveTopicAssign</servlet-name>
        <servlet-class>admin.controller.managetopic.ApproveTopicAssign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateClassController</servlet-name>
        <servlet-class>admin.controller.manageclass.UpdateClassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCourseController</servlet-name>
        <servlet-class>admin.controller.manageclass.CreateCourseController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteClassController</servlet-name>
        <servlet-class>admin.controller.manageclass.DeleteClassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFileAddStudentToClassController</servlet-name>
        <servlet-class>admin.controller.manageclass.UploadFileAddStudentToClassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFileLectureController</servlet-name>
        <servlet-class>admin.controller.managelecture.UploadFileLectureController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSemesterController</servlet-name>
        <servlet-class>admin.controller.managesemester.ListSemesterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LinkSemester</servlet-name>
        <servlet-class>admin.controller.managesemester.LinkSemester</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFileLectureToClassController</servlet-name>
        <servlet-class>admin.controller.manageclass.UploadFileLectureToClassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFileStudentController</servlet-name>
        <servlet-class>admin.controller.managestudent.UploadFileStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFileAccountController</servlet-name>
        <servlet-class>admin.controller.manageaccount.UploadFileAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateStudentController</servlet-name>
        <servlet-class>admin.controller.managestudent.CreateStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateLectureController</servlet-name>
        <servlet-class>admin.controller.managelecture.CreateLectureController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListClassStudentController</servlet-name>
        <servlet-class>user.controller.classs.GetListClassStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListClassStudentEnrollment</servlet-name>
        <servlet-class>user.controller.classs.GetListClassStudentEnrollment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>system.maincontroller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListGroupController</servlet-name>
        <servlet-class>user.controller.group.GetListGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateGroupController</servlet-name>
        <servlet-class>user.controller.group.CreateGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListClassGroupController</servlet-name>
        <servlet-class>user.controller.group.GetListClassGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListGroupStudentEnrollment</servlet-name>
        <servlet-class>user.controller.group.GetListGroupStudentEnrollment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoinGroupController</servlet-name>
        <servlet-class>user.controller.group.JoinGroupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GroupEnrollmentController</servlet-name>
        <servlet-class>user.controller.group.GroupEnrollmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OutGroupEnrollmentController</servlet-name>
        <servlet-class>user.controller.group.OutGroupEnrollmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListGroupEnRolled</servlet-name>
        <servlet-class>user.controller.group.GetListGroupEnRolled</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeclineTopicAssign</servlet-name>
        <servlet-class>admin.controller.managetopic.DeclineTopicAssign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTopicDetailController</servlet-name>
        <servlet-class>admin.controller.managetopic.ViewTopicDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailGroupToJoin</servlet-name>
        <servlet-class>user.controller.group.ViewDetailGroupToJoin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListSubjectHavingTopic</servlet-name>
        <servlet-class>user.controller.topic.GetListSubjectHavingTopic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerController</servlet-name>
        <servlet-class>system.maincontroller.ManagerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveApplicationController</servlet-name>
        <servlet-class>manager.controller.manageform.ApproveApplicationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailApplicationMNGController</servlet-name>
        <servlet-class>manager.controller.manageform.DetailApplicationMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListApplicationMNGController</servlet-name>
        <servlet-class>manager.controller.manageform.ListApplicationMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessedApplicationMNGController</servlet-name>
        <servlet-class>manager.controller.manageform.ProcessedApplicationMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListClassMNGController</servlet-name>
        <servlet-class>manager.controller.classs.ListClassMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStudentMNGController</servlet-name>
        <servlet-class>manager.controller.classs.ListStudentMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveGroupMNGController</servlet-name>
        <servlet-class>manager.controller.managegroup.ApproveGroupMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMemberMNGController</servlet-name>
        <servlet-class>manager.controller.managegroup.DeleteMemberMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailGroupMNGController</servlet-name>
        <servlet-class>manager.controller.managegroup.DetailGroupMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListFalseGroupMNGController</servlet-name>
        <servlet-class>manager.controller.managegroup.ListFalseGroupMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListGroupMNGController</servlet-name>
        <servlet-class>manager.controller.managegroup.ListGroupMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMemberMNGController</servlet-name>
        <servlet-class>manager.controller.managegroup.UpdateMemberMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTopicGroupMNGController</servlet-name>
        <servlet-class>manager.controller.managetopic.UpdateTopicGroupMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPresentationMNGController</servlet-name>
        <servlet-class>manager.controller.manageform.ListPresentationMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileMNGController</servlet-name>
        <servlet-class>manager.controller.profile.ProfileMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileMNGController</servlet-name>
        <servlet-class>manager.controller.profile.UpdateProfileMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignTopicController</servlet-name>
        <servlet-class>manager.controller.managetopic.AssignTopicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTopicController</servlet-name>
        <servlet-class>manager.controller.managetopic.CreateTopicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTopicController</servlet-name>
        <servlet-class>manager.controller.managetopic.DeleteTopicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailTopicMNGController</servlet-name>
        <servlet-class>manager.controller.managetopic.DetailTopicMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListTopicMNGController</servlet-name>
        <servlet-class>manager.controller.managetopic.ListTopicMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTopicMNGController</servlet-name>
        <servlet-class>manager.controller.managetopic.SearchTopicMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTopicController</servlet-name>
        <servlet-class>manager.controller.managetopic.UpdateTopicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProjectGroupController</servlet-name>
        <servlet-class>user.controller.group.UpdateProjectGroupController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStudentInformation</servlet-name>
        <url-pattern>/SearchStudentInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchLectureInformation</servlet-name>
        <url-pattern>/SearchLectureInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotController</servlet-name>
        <url-pattern>/ForgotController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/ResetPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountController</servlet-name>
        <url-pattern>/CreateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountController</servlet-name>
        <url-pattern>/DeleteAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountController</servlet-name>
        <url-pattern>/UpdateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAccountController</servlet-name>
        <url-pattern>/SearchAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAccountController</servlet-name>
        <url-pattern>/ListAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStudentInformation</servlet-name>
        <url-pattern>/ListStudentInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListLectureInformation</servlet-name>
        <url-pattern>/ListLectureInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListTopic</servlet-name>
        <url-pattern>/ListTopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendApplicationController</servlet-name>
        <url-pattern>/SendApplicationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListForm</servlet-name>
        <url-pattern>/ListForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileStudentController</servlet-name>
        <url-pattern>/ProfileStudentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileController</servlet-name>
        <url-pattern>/UpdateProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateInformationProfile</servlet-name>
        <url-pattern>/UpdateInformationProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassController</servlet-name>
        <url-pattern>/ClassController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailClassController</servlet-name>
        <url-pattern>/DetailClassController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchClassController</servlet-name>
        <url-pattern>/SearchClassController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListFormController</servlet-name>
        <url-pattern>/ListFormController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchFormController</servlet-name>
        <url-pattern>/SearchFormController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFormPresentController</servlet-name>
        <url-pattern>/UpdateFormPresentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPresentationCapstone</servlet-name>
        <url-pattern>/ListPresentationCapstone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListTopicAssign</servlet-name>
        <url-pattern>/ListTopicAssign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveTopicAssign</servlet-name>
        <url-pattern>/ApproveTopicAssign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateClassController</servlet-name>
        <url-pattern>/UpdateClassController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCourseController</servlet-name>
        <url-pattern>/CreateCourseController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteClassController</servlet-name>
        <url-pattern>/DeleteClassController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFileAddStudentToClassController</servlet-name>
        <url-pattern>/UploadFileAddStudentToClassController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFileLectureController</servlet-name>
        <url-pattern>/UploadFileLectureController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSemesterController</servlet-name>
        <url-pattern>/ListSemesterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LinkSemester</servlet-name>
        <url-pattern>/LinkSemester</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFileLectureToClassController</servlet-name>
        <url-pattern>/UploadFileLectureToClassController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFileStudentController</servlet-name>
        <url-pattern>/UploadFileStudentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFileAccountController</servlet-name>
        <url-pattern>/UploadFileAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateStudentController</servlet-name>
        <url-pattern>/CreateStudentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateLectureController</servlet-name>
        <url-pattern>/CreateLectureController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListClassStudentController</servlet-name>
        <url-pattern>/GetListClassStudentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListClassStudentEnrollment</servlet-name>
        <url-pattern>/GetListClassStudentEnrollment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListGroupController</servlet-name>
        <url-pattern>/GetListGroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateGroupController</servlet-name>
        <url-pattern>/CreateGroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListClassGroupController</servlet-name>
        <url-pattern>/GetListClassGroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListGroupStudentEnrollment</servlet-name>
        <url-pattern>/GetListGroupStudentEnrollment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinGroupController</servlet-name>
        <url-pattern>/JoinGroupController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GroupEnrollmentController</servlet-name>
        <url-pattern>/GroupEnrollmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OutGroupEnrollmentController</servlet-name>
        <url-pattern>/OutGroupEnrollmentController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListGroupEnRolled</servlet-name>
        <url-pattern>/GetListGroupEnRolled</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeclineTopicAssign</servlet-name>
        <url-pattern>/DeclineTopicAssign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTopicDetailController</servlet-name>
        <url-pattern>/ViewTopicDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailGroupToJoin</servlet-name>
        <url-pattern>/ViewDetailGroupToJoin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListSubjectHavingTopic</servlet-name>
        <url-pattern>/GetListSubjectHavingTopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerController</servlet-name>
        <url-pattern>/ManagerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveApplicationController</servlet-name>
        <url-pattern>/ApproveApplicationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailApplicationMNGController</servlet-name>
        <url-pattern>/DetailApplicationMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListApplicationMNGController</servlet-name>
        <url-pattern>/ListApplicationMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessedApplicationMNGController</servlet-name>
        <url-pattern>/ProcessedApplicationMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListClassMNGController</servlet-name>
        <url-pattern>/ListClassMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStudentMNGController</servlet-name>
        <url-pattern>/ListStudentMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveGroupMNGController</servlet-name>
        <url-pattern>/ApproveGroupMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMemberMNGController</servlet-name>
        <url-pattern>/DeleteMemberMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailGroupMNGController</servlet-name>
        <url-pattern>/DetailGroupMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListFalseGroupMNGController</servlet-name>
        <url-pattern>/ListFalseGroupMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListGroupMNGController</servlet-name>
        <url-pattern>/ListGroupMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMemberMNGController</servlet-name>
        <url-pattern>/UpdateMemberMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTopicGroupMNGController</servlet-name>
        <url-pattern>/UpdateTopicGroupMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPresentationMNGController</servlet-name>
        <url-pattern>/ListPresentationMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileMNGController</servlet-name>
        <url-pattern>/ProfileMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileMNGController</servlet-name>
        <url-pattern>/UpdateProfileMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignTopicController</servlet-name>
        <url-pattern>/AssignTopicController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTopicController</servlet-name>
        <url-pattern>/CreateTopicController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTopicController</servlet-name>
        <url-pattern>/DeleteTopicController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailTopicMNGController</servlet-name>
        <url-pattern>/DetailTopicMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListTopicMNGController</servlet-name>
        <url-pattern>/ListTopicMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTopicMNGController</servlet-name>
        <url-pattern>/SearchTopicMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTopicController</servlet-name>
        <url-pattern>/UpdateTopicController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProjectGroupController</servlet-name>
        <url-pattern>/UpdateProjectGroupController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
