<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAccountController</servlet-name>
        <servlet-class>account.management.ListAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListTopicMNGController</servlet-name>
        <servlet-class>topic.management.ListTopicMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTopicMNGController</servlet-name>
        <servlet-class>topic.management.SearchTopicMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTopicController</servlet-name>
        <servlet-class>topic.management.DeleteTopicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTopicController</servlet-name>
        <servlet-class>topic.management.UpdateTopicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailTopicMNGController</servlet-name>
        <servlet-class>topic.management.DetailTopicMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTopicController</servlet-name>
        <servlet-class>topic.management.CreateTopicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListTopicUSController</servlet-name>
        <servlet-class>topic.user.ListTopicUSController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListApplicationMNGController</servlet-name>
        <servlet-class>application.management.ListApplicationMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailApplicationMNGController</servlet-name>
        <servlet-class>application.management.DetailApplicationMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveApplicationController</servlet-name>
        <servlet-class>application.management.ApproveApplicationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListClassMNGController</servlet-name>
        <servlet-class>classroom.management.ListClassMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListPresentationMNGController</servlet-name>
        <servlet-class>presentation.management.ListPresentationMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileMNGController</servlet-name>
        <servlet-class>profile.management.ProfileMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileMNGController</servlet-name>
        <servlet-class>profile.management.UpdateProfileMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStudentMNGController</servlet-name>
        <servlet-class>classroom.management.ListStudentMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessedApplicationMNGController</servlet-name>
        <servlet-class>application.management.ProcessedApplicationMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignTopicController</servlet-name>
        <servlet-class>topic.management.AssignTopicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListGroupMNGController</servlet-name>
        <servlet-class>group.management.ListGroupMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailGroupMNGController</servlet-name>
        <servlet-class>group.management.DetailGroupMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateMemberMNGController</servlet-name>
        <servlet-class>group.management.UpdateMemberMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteMemberMNGController</servlet-name>
        <servlet-class>group.management.DeleteMemberMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveGroupMNGController</servlet-name>
        <servlet-class>group.management.ApproveGroupMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListFalseGroupMNGController</servlet-name>
        <servlet-class>group.management.ListFalseGroupMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTopicGroupMNGController</servlet-name>
        <servlet-class>group.management.UpdateTopicGroupMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteGroupMNGController</servlet-name>
        <servlet-class>group.management.DeleteGroupMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassGroupMNGController</servlet-name>
        <servlet-class>group.management.ClassGroupMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSubjectTopicMNGController</servlet-name>
        <servlet-class>topic.management.ListSubjectTopicMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopicInSubjectMNGController</servlet-name>
        <servlet-class>topic.management.TopicInSubjectMNGController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTopicInSubjectController</servlet-name>
        <servlet-class>topic.management.DeleteTopicInSubjectController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAccountController</servlet-name>
        <url-pattern>/ListAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListTopicMNGController</servlet-name>
        <url-pattern>/ListTopicMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTopicMNGController</servlet-name>
        <url-pattern>/SearchTopicMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTopicController</servlet-name>
        <url-pattern>/DeleteTopicController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTopicController</servlet-name>
        <url-pattern>/UpdateTopicController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailTopicMNGController</servlet-name>
        <url-pattern>/DetailTopicMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTopicController</servlet-name>
        <url-pattern>/CreateTopicController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListTopicUSController</servlet-name>
        <url-pattern>/ListTopicUSController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListApplicationMNGController</servlet-name>
        <url-pattern>/ListApplicationMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailApplicationMNGController</servlet-name>
        <url-pattern>/DetailApplicationMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveApplicationController</servlet-name>
        <url-pattern>/ApproveApplicationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListClassMNGController</servlet-name>
        <url-pattern>/ListClassMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListPresentationMNGController</servlet-name>
        <url-pattern>/ListPresentationMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileMNGController</servlet-name>
        <url-pattern>/ProfileMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileMNGController</servlet-name>
        <url-pattern>/UpdateProfileMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStudentMNGController</servlet-name>
        <url-pattern>/ListStudentMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessedApplicationMNGController</servlet-name>
        <url-pattern>/ProcessedApplicationMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignTopicController</servlet-name>
        <url-pattern>/AssignTopicController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListGroupMNGController</servlet-name>
        <url-pattern>/ListGroupMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailGroupMNGController</servlet-name>
        <url-pattern>/DetailGroupMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateMemberMNGController</servlet-name>
        <url-pattern>/UpdateMemberMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteMemberMNGController</servlet-name>
        <url-pattern>/DeleteMemberMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveGroupMNGController</servlet-name>
        <url-pattern>/ApproveGroupMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListFalseGroupMNGController</servlet-name>
        <url-pattern>/ListFalseGroupMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTopicGroupMNGController</servlet-name>
        <url-pattern>/UpdateTopicGroupMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteGroupMNGController</servlet-name>
        <url-pattern>/DeleteGroupMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassGroupMNGController</servlet-name>
        <url-pattern>/ClassGroupMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSubjectTopicMNGController</servlet-name>
        <url-pattern>/ListSubjectTopicMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopicInSubjectMNGController</servlet-name>
        <url-pattern>/TopicInSubjectMNGController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTopicInSubjectController</servlet-name>
        <url-pattern>/DeleteTopicInSubjectController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
