<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>mainController.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>mainController.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStudentProfile</servlet-name>
        <servlet-class>admin.controller.SearchStudentProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentProfile</servlet-name>
        <servlet-class>admin.controller.AddStudentProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudentProfile</servlet-name>
        <servlet-class>admin.controller.DeleteStudentProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentProfile</servlet-name>
        <servlet-class>admin.controller.UpdateStudentProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchLectureProfile</servlet-name>
        <servlet-class>admin.controller.SearchLectureProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLectureProfile</servlet-name>
        <servlet-class>admin.controller.AddLectureProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteLectureProfile</servlet-name>
        <servlet-class>admin.controller.DeleteLectureProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateLectureProfile</servlet-name>
        <servlet-class>admin.controller.UpdateLectureProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotController</servlet-name>
        <servlet-class>mainController.ForgotController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>mainController.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>mainController.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccountController</servlet-name>
        <servlet-class>adminController.CreateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountController</servlet-name>
        <servlet-class>admin.controller.DeleteAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountController</servlet-name>
        <servlet-class>admin.controller.UpdateAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAccountController</servlet-name>
        <servlet-class>admin.controller.SearchAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAccountController</servlet-name>
        <servlet-class>admin.controller.ListAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListStudentProfile</servlet-name>
        <servlet-class>admin.controller.ListStudentProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListLectureProfile</servlet-name>
        <servlet-class>admin.controller.ListLectureProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSubject</servlet-name>
        <servlet-class>admin.controller.ListSubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LinkSubject</servlet-name>
        <servlet-class>admin.controller.LinkSubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListTopic</servlet-name>
        <servlet-class>user.controller.ListTopic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendApplicationController</servlet-name>
        <servlet-class>user.controller.SendApplicationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListForm</servlet-name>
        <servlet-class>user.controller.ListForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStudentProfile</servlet-name>
        <url-pattern>/SearchStudentProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudentProfile</servlet-name>
        <url-pattern>/AddStudentProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudentProfile</servlet-name>
        <url-pattern>/DeleteStudentProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentProfile</servlet-name>
        <url-pattern>/UpdateStudentProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchLectureProfile</servlet-name>
        <url-pattern>/SearchLectureProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLectureProfile</servlet-name>
        <url-pattern>/AddLectureProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteLectureProfile</servlet-name>
        <url-pattern>/DeleteLectureProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateLectureProfile</servlet-name>
        <url-pattern>/UpdateLectureProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotController</servlet-name>
        <url-pattern>/ForgotController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/ResetPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccountController</servlet-name>
        <url-pattern>/CreateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountController</servlet-name>
        <url-pattern>/DeleteAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountController</servlet-name>
        <url-pattern>/UpdateAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAccountController</servlet-name>
        <url-pattern>/SearchAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAccountController</servlet-name>
        <url-pattern>/ListAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListStudentProfile</servlet-name>
        <url-pattern>/ListStudentProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListLectureProfile</servlet-name>
        <url-pattern>/ListLectureProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSubject</servlet-name>
        <url-pattern>/ListSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LinkSubject</servlet-name>
        <url-pattern>/LinkSubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListTopic</servlet-name>
        <url-pattern>/ListTopic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendApplicationController</servlet-name>
        <url-pattern>/SendApplicationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListForm</servlet-name>
        <url-pattern>/ListForm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
